@import "tailwindcss";

@theme {
	--font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
		"Noto Sans", "Liberation Sans", Arial, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@layer base {
	html {
		font-family: var(--font-sans);
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		font-family: inherit;
		line-height: 1.5;
	}
}